<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Show teacher</title>
    <style type="text/css">
        section {
            border-bottom: 1px solid grey;
            padding-bottom: 10px;
        }

        section p:first-of-type>strong {
            color: rgb(2.8%, 11.1%, 47.6%);
        }

        section p:nth-of-type(2)>strong {
            color: rgb(29.1%, 30.8%, 38.2%);
        }
    </style>
</head>

<body>
<h2>Advisor InfoPage</h2>




<form id="teacherInfo" action="/advisors/<%=id%>/info" method="GET" >

    <% var first = JSON.stringify(info1[0].first) %>
    <% var middle = JSON.stringify(info1[0].middle) %>
    <% var last =JSON.stringify(info1[0].last) %>
    <% first = first.substr(0,first.length-1) %>
    <% middle = middle.substr(1,middle.length-2) %>
    <% last = last.substr(1,last.length-1) %>
    <% name1 = first + " " + middle + " " + last%>

    <label for="name">name: <%=name1%>  </label><br><br>
    <label for="email">email: <%=JSON.stringify(info1[0].email)%>  </label><br><br>
    <label for="birthdate">birthdate: <%=JSON.stringify(info1[0].birthdate)%>  </label><br><br>
    <label for="salary">salary: <%=JSON.stringify(info1[0].salary)%>  </label><br><br>
    <label for="phone">phone: <%=JSON.stringify(info1[0].phone)%>  </label><br><br>
</form>


<h3>All Courses List:</h3>
<table id="table" border="1" style="margin-bottom:1cm" >
    <tr>
        <th style="background-color: darkgray;">courseID</th>
        <th style="background-color: darkgray;">department</th>
        <th style="background-color: darkgray;">code</th>
        <th style="background-color: darkgray;">name</th>
        <th style="background-color: darkgray;">numStudents</th>
    </tr>
    
    <%
    if(courses.length!=0){
    var i=1;
    courses.forEach(function(data){
    %>
    <tr>
        <td style="background-color: darkgray;"><%=data.courseID %></td>
        <td style="background-color: darkgray;"><%=data.department %></td>
        <td style="background-color: darkgray;"><%=data.code %></td>
        <td style="background-color: darkgray;"><%=data.name %></td>
        <td style="background-color: darkgray;"><%=data.numStudents %></td>
        <td><button onclick="window.location.href='/advisors/<%=id%>/info/<%=data.courseID %>'">Manage Students</button></td>
    </tr>
    <%  i++; }) %>
    <% } else{ %>
        <tr>
            <td colspan="7">No Data Found</td>
        </tr>
    <% } %>
</table>



<form id="backbutton" action="/advisors/login" method="GET" >
    <button for="back">back to login </button><br><br>
</form>


<br />
</body>
</html>