<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Show student</title>
    <style type="text/css">
        section {
            border-bottom: 1px solid grey;
            padding-bottom: 10px;
        }

        section p:first-of-type>strong {
            color: rgb(2.8%, 11.1%, 47.6%);
        }

        section p:nth-of-type(2)>strong {
            color: rgb(29.1%, 30.8%, 38.2%);
        }
    </style>
</head>

<body>
<h2>Student InfoPage</h2>




<form id="studentInfo" action="/students/<%=id%>/info" method="GET" >

    <% var first1 = JSON.stringify(info1[0].first) %>
    <% var middle1 = JSON.stringify(info1[0].middle) %>
    <% if(middle1=="null"){  %>
        <%   middle1="" %>
    <% } %>


    <% var last1 =JSON.stringify(info1[0].last) %>
    <% first1 = first1.substr(0,first1.length-1) %>
    <% middle1 = middle1.substr(1,middle1.length-2) %>
    <% last1 = last1.substr(1,last1.length-1) %>
    <% name1 = first1 + " " + middle1 + " " + last1%>
    <% email1 = JSON.stringify(info1[0].email)%>


    <label for="name">name: <%=name1%>  </label><br><br>
    <label for="email">email: <%=email1%>  </label><br><br>
    <label for="birthdate">birthdate: <%=JSON.stringify(info1[0].birthdate)%>  </label><br><br>
    <label for="year">year: <%=JSON.stringify(info1[0].year)%>  </label><br><br>
    <label for="phone">phone: <%=JSON.stringify(info1[0].phone)%>  </label><br><br>
    <label for="advisorID">advisorID: <%=JSON.stringify(info1[0].advisorID)%>  </label><br><br>
    <label for="gpa">GPA: <%=JSON.stringify(info1[0].gpa)%>  </label><br><br>

</form>

<table border="1" style="margin-bottom:1cm">
    <tr>
        <th>Course Name</th>
        <th>Grade</th>
    </tr>
    
    
    <% if(grade1.length!=0){ %>
        <% for(let i = 0; i < grade1.length; i++) { %>
            <tr>
                <td><%=JSON.stringify(grade1[0].name) %></td>
                <td><%=JSON.stringify(grade1[0].grade) %></td>
            </tr>
        <% } %>
    
    <% } else{ %>
        <tr>
            <td colspan="7">No Data Found</td>
        </tr>
    <% } %>
</table>

<form id="update" >

    <label for="id">id:</label>
    <select class="form-control" name="id" id="id">
        <option selected="selected">Select</option>
            <option value= <%=id%> > <%=id%> </option>
    </select><br><br>


    <label for="email">email:</label>
    <input type="text" id="email" name="email" value=<%=email1.substr(1,email1.length-2)%> ><br><br>
    <label for="last">last:</label>
    <input type="text" id="last" name="last" value=<%=last1.substr(0,last1.length-1)%>><br><br>
    <label for="first">first:</label>
    <input type="text" id="first" name="first" value=<%=first1.substr(1,first1.length-1)%>><br><br>
    <label for="middle">middle:</label>
    <input type="text" id="middle" name="middle" value=<%=middle1%>><br><br>

    <label for="birthdate">birthdate (yyyy-mm-dd):</label>
    <input type="date" id="birthdate" name="birthdate"><br><br>

    <input type="submit" value="Submit">
</form>

<form id="backbutton" action="/students/login" method="GET" >
    <button for="back">back to login </button><br><br>
</form>


<br />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    (function($){
        function processForm( update ){
            const data = new FormData(update.target);
            payload = Object.fromEntries(data.entries())
            if (!payload.middle) delete payload.middle
            if (!payload.birthdate) delete payload.birthdate
            $.ajax({
                url: '/students',
                dataType: 'json',
                type: 'put',
                contentType: 'application/json',
                data: JSON.stringify(payload),
                success: function(data, textStatus, jQxhr){
                    alert(data.message)
                    window.location.href="/students/<%=id%>/info";
                  
                },
                error: function(jqXhr, textStatus, errorThrown){
                    alert("Failed to Update")
                    window.location.href="/students/<%=id%>/info";
                    console.log(errorThrown);
                    console.log(payload);
                }
            });
            update.preventDefault();
        }
        $('#update').submit( processForm );
    })(jQuery);
</script>

</body>
</html>